/* ul, 
ol {
    list-style: none;
} */

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --knob-color: #2196F3;
    --text-color: #212121;;
    --whitey-color: #FFFFFF;
    --mail-color:  #757575; 
}
h1, h2, h3, p {
    margin: 0;
    padding-left: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}
li {
    list-style-type:none
}
.rif {
    font-style: normal;
}

/*--HEADER--*/

.page-header {
    border-bottom: #ECECEC 1px solid;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}
.contact {
    display: flex;
    align-items: center;
}

.contact-items :not(:last-child) {
    margin-right: 50px;
}

.contact-items {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
}

.menu-li {
    display: flex;
    align-items: center;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color) 
}
.log {
    margin-right: 71px;
}

.logotipe {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    color:var(--knob-color)
}

.logotip {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    
    color: black;
}

.menu-item:not(:last-child) {
    margin-right: 50px;

}

.menu-li-1 {
    display: flex;
    align-items: center;
}


.menu-li {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
padding-top: 32px;
padding: 32px 0;
line-height: 1.14;
letter-spacing: 0.02em;
margin-left: auto;

color:var(--text-color); 
transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
display: block;
cursor: pointer;

}
.menu-li:hover,
.menu-li:focus {
    color: var(--knob-color);
}
.contact-phoun-number {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}
 .menu-link-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color:#757575;
}

.contact-maill { 
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-phoun-number {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.contact-maill-cont {
    justify-content: center;
    text-align: center;
}

.contact-maill
.contact-maill-svg {
    margin-right: 10px;
    fill: currentColor;
}
.contact-m {
    margin-right: 30px;
}

.contact-maill:hover,
.contact-maill:focus {
    color: #2196F3;
}


.current::after {
    content: '';
    background-color: var(--text-color);
    transition:  var(--transition-knob-color);
}

.menu-li.current::after{
    position: absolute;
    display: block;
    bottom: 0px;
    height: 4px;
    width: 100%;
    background-color: var(--knob-color);
    border-radius: 2px;
    
    
}

.current {
    color:var(--knob-color)
}

.menu-li:hover::after {
    background-color:var(--text-color);
}
/*--/======================HEADER--*/

/*============HERO==========================*/
.photo-top {
   display: flex;
   flex-wrap: wrap;
   margin-top: 50px;
   gap: 30px;
   background: #FFFFFF;
   
}
.section-project{
    padding-top: 94px;
    padding-bottom: 94px;
}

.foto-div {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;

}

.menu-but {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34;
}

.but {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 1.37;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
    border-radius: 4px;
}
.but:hover,
.but:focus {
    background-color: var(--knob-color);
    color: var(--whitey-color);
    box-shadow: 0px 3px 1px rgba(77, 138, 228, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.proekt {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    color: var(--text-color);

}
.proek {
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--mail-color);
display: block;
    max-width: 100%;
    height: auto;
    margin-top: 4px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-photo-top:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.imphoto{
    display: block;
    max-width: 100%;
    height: auto;
}

.im-photo-text-div {
    position: relative;
    overflow: hidden;
    
}
.im-photo-text {
    display: block;
    position: relative;
    overflow: hidden;
}
.photo-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
width: 100%;
height: 100%;

transform: translate(0,100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: hidden;
position: absolute;
color: var(--whitey-color);
background:rgba(33, 150, 243, 0.9);
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;

}
.im-photo-text:hover .photo-text,
.im-photo-text:focus .photo-text
 {
    transform: translate(0, 0);
}

.im-photo-text-bige {
    position: relative;
    overflow: hidden;
}
.im-photo-text-bige:hover .photo-text,
.im-photo-text-bige:focus .photo-text {
    transform: translate(0, 0);
}

/*============+HERO==========================*/
/*=================FOOTER====================*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    
}
.logogo {
    flex-shrink: 0;
}
.log {
    display: flex;
    align-items: baseline;
}
.log-item {
    margin-right: 70px;

}
.logo-footer {
    width: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.logotipe {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:var(--knob-color);
}
.logotips {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:rgb(255, 255, 246);
}

.cl1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.cl {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;

letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.cl21 {
    margin-bottom: 9px;
}
.cl2{
    margin-bottom: 9px;
}
.cl13{
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal; 
}

.nomer {
    font-style: normal;
}
.social-network {
    margin-left: 70px;
}
.soc-foot-h3 {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}


.social-list-item {
    height: 44px;
    width: 44px
}
.social-link-footer {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer :hover
.social-list-footer :focus {
    background-color: var(--accent-color);
}
.soc-icon-footer {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #2196F3; 
}

.label-span-footer {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;

}

.form-footer  {
    display: flex;
    margin-left: 93px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.label-input-footer {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;
color: #F5F4FA;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 16px;

}

.label-input-footer:focus {
    outline: none;
    border-color: var(--whitey-color);
}

.label-div-footer {
   margin-left: 93px; 
}

.button-div-podpis {
    margin-left: 12px;
}

.button-podpis {
width: 200px;
height: 50px;
cursor: pointer;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: #2196F3;
display: inline-flex;
align-items: center;

}

.podpis {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.06em;

color:var(--whitey-color);
margin: 10px;

}

.button-svg-podpis {
    width: 24px;
    height: 24px;
    fill: var(--whitey-color);
}
    
/*=================FOOTER====================*/