/* ul, 
ol {
    list-style: none;
} */

a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --knob-color: #2196F3;
    --text-color: #212121;;
    --whitey-color: #FFFFFF;
    --mail-color:  #757575; 
}
h1, h2, h3, p {
    margin-top:0;
    margin-bottom:0;
    margin-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}
li {
    list-style-type:none
}
.cl {
    font-style: normal;
}
img {
    display: block;
}

button {
    cursor: pointer;
}

/*======================================HEADER*/

.page-header {
    border-width: 0 0 1rem 0;
    border: #ececec;
    padding-top: 24px;
    padding-bottom: 24px;

}
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .page-nav {
        display: flex;
        align-items: center;
    }
    .contact {
        display: flex;
        align-items: center;
    }
    
    .contact-items :not(:last-child) {
        margin-right: 50px;
    }
    
    .contact-items {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        margin-right: 50px;
    }
    
    .menu-li-1 {
        display: flex;
        align-items: center;
    }
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color) 
    }
    .logo {
        margin-right: 71px;
    }
    
    .logotipe {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        color:var(--knob-color)
    }
    
    .logotipp {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        
        color: black;
    }
    
    .menu-item:not(:last-child) {
        margin-right: 50px;
    
    }
    
    
    .menu-li {
        font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    color:var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    cursor: pointer;

   
    }
    .menu-li:hover,
    .menu-li:focus {
        color: var(--knob-color);
    }

    
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
     .menu-link-list {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
        color:#757575;
    }
    
    .contact-maill { 
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
    
.contact-maill-cont {
     justify-content: center;
     text-align: center;
 }
    
.contact-maill 
.contact-maill-svg {
    margin-right: 10px;
    fill: currentColor;
 }
.contact-m {
margin-right: 30px;
}
    
.contact-maill:hover,
.contact-maill:focus {
  color: #2196F3;
}

.contact-m {
    margin-right: 30px;
}


.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition:  var(--transition-knob-color);
    bottom: -33px;
    transform: translate(0%, 750%);
    
}

.menu-li.current::after{
    position: absolute;
    display: block;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--knob-color);
    border-radius: 2px;
    
    
}

.current {
    color:var(--knob-color)
}

.menu-li:hover::after {
    background-color:var(--text-color);
}
/*======================================/HEADER*/
/*--------------------------------------HERO--*/

.text1 {
  padding-top: 94px; 
}
.text {

 display: flex;
 justify-content: space-between;
 gap: 30px;

}
.photoss {
    padding-top: 94px;
    padding-bottom: 94px;
}
.cont-photo {
    display: flex;
    justify-content: space-between;
}
.page-title {
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--whitey-color);

max-width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}


.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/hero/title.jpg");
    

}


.modal-btn {
    font-family: 'Roboto', sans-serif;
   font-weight: 700;
    font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   background-color:  #2196F3;
   color: var(--whitey-color);
   cursor: pointer;
   /*color:#FFFFFFF;*/
   
   width: 200px;
   height: 50px;
   border: 0;
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.satellite {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom:  30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ol-rel-tel {
    width: 270px;
}
.rel {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--text-color);
margin-bottom: 10px;
}
.tel {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: var(--mail-color);
}

.work {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
margin-bottom: 50px;
}

.client-title {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

margin-bottom: 50px;
}

.client-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.client-item {
    width: 170px;
    height: 92px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
    fill:#2196F3;
}

.client-link:hover,
.client-link:focus {
    border-color: #2196F3;
}

.photo-div-p {
    position: relative;
}
.photo-p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--whitey-color);
}

    
/*-----------------------------------/HERO--*/

 /*----------------------------------ABOUT--*/

 
.employes-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.name-position {
    padding-top: 30px;
  padding-bottom: 30px;
}
.suptitle {
    font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
margin: 10px;
}
.suptitles {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--mail-color);
margin-bottom: 16px;
}
.employes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.employes-card {

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-list-link {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #AFB1B8;
    
}

.social-list-link:hover  .social-list-icon,
.social-list-link:focus   .social-list-icon{
    fill: var(--whitey-color);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #2196F3;
}




.team {
    font-family: 'Roboto', sans-serif;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
margin-bottom: 50px;
}

.produkt {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--mail-color);
}

.olga {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.19;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--knob-color);
}

.nik {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.19;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
}

.mih {
    font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.19;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);
}





/*----------------------------------/ABOUT--*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    
}

.logogo {
    flex-shrink: 0;
}
.log {
    display: flex;
    align-items: baseline;
}
.log-item {
    margin-right: 70px;

}
.logo-footer {
    width: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.logotipe {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:var(--knob-color);
}
.logotips {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:rgb(255, 255, 246);
}

.cl1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.cl {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;

letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.cl21 {
    margin-bottom: 9px;
}
.cl2{
    margin-bottom: 9px;
}
.cl13{
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal; 
}

.nomer {
    font-style: normal;
}
.social-network {
    margin-left: 70px;
}
.soc-foot-h3 {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}


.social-list-item {
    height: 44px;
    width: 44px
}
.social-link-footer {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer :hover
.social-list-footer :focus {
    background-color: var(--accent-color);
}
.soc-icon-footer {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #2196F3; 
}

.label-span-footer {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;

}
.form-footer-div-1 {
    margin-left: 93px;
}
.form-footer  {
    display: flex;
    margin-left: 93px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.label-input-footer {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;
color: #F5F4FA;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 16px;

}

.label-input-footer:focus {
    outline: none;
    border-color: var(--whitey-color);
}


.button-div-podpis {
    margin-left: 12px;
}

.button-podpis {
width: 200px;
height: 50px;
cursor: pointer;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: #2196F3;
display: inline-flex;
align-items: center;

}

.podpis {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.06em;

color:var(--whitey-color);
margin: 10px;

}

.button-svg-podpis {
    width: 24px;
    height: 24px;
    fill: var(--whitey-color);
}

/*---------------------------------/FOOTER--*/

/*-------------------------------------------MODAL-WIND*/
.bacdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bacdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modall-btm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
}

.modall-btm-button:hover .modall-close-btn, 
.modall-btm-button:focus .modall-close-btn{
 fill: #2196F3;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.modall-btm-button{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0%;
}

.modal-btm-form {
    margin-top: 12px;
}

.h22 {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}


.modal-name,
.modal-phone,
.modal-maill,
.modal-coment {
    display: flex;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 12px;
line-height: 1.17;
padding-bottom: 4px;
letter-spacing: 0.01em;

color: #757575;

}

.modal-btm-name,
.modal-btm-phone,
.modal-btm-maill,
.modal-btm-coment {
margin-bottom: 10px;

}

.modal-btm-coment {
    width: 100%;
    height: 120px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-btm-coment:focus {
    outline: none;
    border-color: var(--knob-color);
}



.input-btm {
    width: 448px;
    height: 40px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 10px;
padding-left: 42px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-btm:focus {
    outline: none;
    border-color: var(--knob-color);
}
.input-btm:focus +.modal-btm-spann {
    fill: var(--knob-color);
}
.input-btm-s {
    width: 448px;
    height: 120px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}
.text-modal-footer {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 2.0;
letter-spacing: 0.03em;

color: #757575;

}

.modal-icon-icon {
    color: #212121;
}

.zgoda {
display: flex;
justify-content: center;
align-items: center;
}

.input-zgody {
    width: 1px;  
    height: 1px; 
     margin: -1px;  
     border: 0;  
     padding: 0;  
     white-space: nowrap;  
     clip-path: inset(100%);  
     clip: rect(0 0 0 0);  
     overflow: hidden;  
     position: absolute;
}

.span-zgody {
    display: flex;
    width: 15px;
    height: 15px;
    border: 2px solid #212121; 
    border-radius: 2px;
    margin-right: 7px;
    align-items: center;
   
    
}
.input-zgody:checked + .span-zgody {
    background-color: #2196F3;
    color: #F5F4FA;
    background-image: url(../images/modal-wind-ikon/symbol-defs.svg#icon-gal);
    background-position: center;
    background-size: contain;
    background-origin: border-box;
}

.svg-zgody {
    fill: #FFFFFF;
    border: 0.2px solid #FFFFFF;
}

.umowa {
    color: #188CE8;
    text-decoration: underline;
}
.modall-btm-submit {
    width: 200px;
height: 50px;
left: 700px;
top: 712px;

background: #2196F3;
border-radius: 4px;
margin-top: 30px;

margin-left: 100px;
border-color: var(--knob-color);
}

.modall-btm-submit:hover, 
.modall-btm-submit:focus{
    background: #188CE8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 



.modall-btm-b2-span {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.input-zgody {
    width: 16px;
    height: 15px;
    margin-right: 7px;

}

.umowa-zgody {
    margin-top: 5px;
}

.modal-btm-spann {
    display: block;
    width: 12px;
    height: 12px;
    color: #212121;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0%,-90%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-btm-spann:focus {
    fill: var(--knob-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.modal-btm-div {
    position: relative;
}

/*-------------------------------------------/MODAL-WIND*/
