@media screen and (max-width: 768px) {
    .menu-but {
        display: flex;
        align-items: center;
        
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 34;
    }
    .button-div-podpis {
       margin-top: 20px;
        margin-left: 110px;
    }
    
}

@media screen and (min-width: 768px) {
    .menu-but {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 34;
    }
    .button-div-podpis {
    margin-top: 20px;
    margin-left: 130px;
}
    
}

@media screen and (min-width: 1200px) {
    .menu-but {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 34;
    }
    .button-div-podpis {
        margin-left: 12px;
    }
    
}


.button_li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 1.37;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
    border-radius: 4px;

    &:hover,
    &:focus {
    background-color: var(--knob-color);
    color: var(--whitey-color);
    box-shadow: 0px 3px 1px rgba(77, 138, 228, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
}



.button-podpis {
width: 200px;
height: 50px;
cursor: pointer;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: #2196F3;
display: inline-flex;
align-items: center;

}

.podpis {
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.06em;

color:var(--whitey-color);
margin: 10px;

}

.button-svg-podpis {
    width: 24px;
    height: 24px;
    fill: var(--whitey-color);
}
    
