@import './utils/variables';
@import'./base/common';
@import'./base/conteiner';
@import'./base/section';
@import'./components/button';
@import'./components/\ social\ network';
@import'./layout/header.scss';
@import'./layout/hero';
@import'./layout/about';
@import'./layout/footer';
@import'./porfolio-utils/variables';
@import'./porfolio-base/common';
@import'./porfolio-base/conteiner';
@import'./porfolio-base/section';
@import'./porfolio-layout/header';
@import'./porfolio-layout/hero';
@import'./porfolio-layout/footer';
@import'./porfolio-components/button';
@import'./porfolio-components/\ social\ network'