@media screen and (max-width: 1200px) {
    .contact_1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu_ul {
        display: none;
    }
}

.mobile-menu_close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: white;
    border: none;
    padding: 0;
    line-height: 0;

}
.mobile-menu_close-icon:hover, .mobile-menu_close-icon:focus {
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }
    
}

.page_header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open {
    background-color: #FFFF;
    border: none;
    padding: 0;
    padding-left: 50px;
}




.page_header {
    border-width: 0 0 1rem 0;
    border: #ececec;
}
    .page_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav {
        display: flex;
        align-items: center;
    }
    .contact {
        display: flex;
        align-items: center;
    }
    
    .contact-items :not(:last-child) {
        margin-right: 50px;
    }
    
    .contact-items {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        margin-right: 50px;
    }
    
    .menu_ul {
        display: flex;
        align-items: center;
    }
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color) 
    }
    .logotipe-title {
        margin-right: 71px;
    }
    
    .logotipe_blue {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        color:var(--knob-color)
    }
    
    .logotip_black {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        
        color: black;
    }
    
    .menu_item:not(:last-child) {
        margin-right: 50px;
    
    }
    
    .menu-li {
        font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    color:var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--knob-color);
    }
    }
   
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
     .menu-link-list {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
        color:#757575;
    }
    
    .contact_maill { 
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: #2196F3;
    }
    }
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
    
.contact-maill-cont {
     justify-content: center;
     text-align: center;
 }
    
.contact_maill, 
.contact_maill_svg {
    margin-right: 10px;
    fill: currentColor;
 }
.contact_1 {
margin-right: 30px;
}

.contact_1 {
    margin-right: 30px;
}


.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition:  var(--transition-knob-color);
    bottom: -33px; 
}

.menu-li.current::after{
    position: absolute;
    display: block;
    
    height: 4px;
    width: 100%;
    background-color: var(--knob-color);
    border-radius: 2px;
    
    &:hover::after {
    background-color:var(--text-color);
}
}

.current {
    color:var(--knob-color)
}

