.page-header {
    border-width: 0 0 1rem 0;
    border: #ececec;
}
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .page-nav {
        display: flex;
        align-items: center;
    }
    .contact {
        display: flex;
        align-items: center;
    }
    
    .contact-items :not(:last-child) {
        margin-right: 50px;
    }
    
    .contact-items {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        margin-right: 50px;
    }
    
    .menu-li-1 {
        display: flex;
        align-items: center;
    }
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color) 
    }
    .logo {
        margin-right: 71px;
    }
    
    .logotipe-blue {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        color:var(--knob-color)
    }
    
    .logotip-black {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2; 
        letter-spacing: 0.03em;
        
        color: black;
    }
    
    .menu-item:not(:last-child) {
        margin-right: 50px;
    
    }
    
    .menu-li {
        font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    color:var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--knob-color);
    }
    }
   
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
     .menu-link-list {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.02em;
        color:#757575;
    }
    
    .contact-maill { 
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: #2196F3;
    }
    }
    .contact-phoun-number {
        display: flex;
        flex-direction: row-reverse;
        font-family: var(--primary-font);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    
    }
    
.contact-maill-cont {
     justify-content: center;
     text-align: center;
 }
    
.contact-maill, 
.contact-maill-svg {
    margin-right: 10px;
    fill: currentColor;
 }
.contact-m {
margin-right: 30px;
}

.contact-m {
    margin-right: 30px;
}


.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 2px;
    transition:  var(--transition-knob-color);
    bottom: -33px; 
}

.menu-li.current::after{
    position: absolute;
    display: block;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--knob-color);
    border-radius: 2px;
    
    &:hover::after {
    background-color:var(--text-color);
}
}

.current {
    color:var(--knob-color)
}

