.page_title {
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (max-width: 767px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero {
  background-color: var(--text-color);
  text-align: center;
  padding: 118px 0;

  background-image: url("../images/hero/title.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-device-pixel-ratio),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/hero/title@x2.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: url("../images/hero/title.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/hero/title@x2.jpg");
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    font-size: 44px;
    line-height: 1.36;

    background-image: url("../images/hero/title.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/hero/title@x2.jpg");
  }
}
.text1 {
  padding-top: 60px;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.text_li {
  max-width: 400px;
  @media screen and (min-width: 768px) {
		flex-basis: calc((100% - 2 * 30px) / 2);
	}
	@media screen and (min-width: 1140px) {
		flex-basis: calc((100% - 3 * 30px) / 3);
	}
	&:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}

.satellite {
  display: flex;
  width: 400px;
  height: 120px;
  left: 15px;
  top: 520px;

  background: #f5f4fa;
  border-radius: 4px;

  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.obraz {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.li_h3 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.h3_indent {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.photo_section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

// /*.text1 {
//     padding-top: 94px;
//   }
//   .text {

//    display: flex;
//    justify-content: space-between;
//    gap: 30px;

//   }
//   .photo_section {
//       padding-top: 94px;
//       padding-bottom: 94px;
//   }

//   .page_title {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;

//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--whitey-color);

//   max-width: 696px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;
//   }

//   .hero {
//       padding-top: 200px;
//       padding-bottom: 200px;
//       background: #2F303A;
//       text-align: center;
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/hero/title.jpg");

//   }

//   .satellite {
//       width: 270px;
//       height: 120px;
//       background-color: #F5F4FA;
//       border-radius: 4px;
//       margin-bottom:  30px;
//       justify-content: center;
//       align-items: center;
//       display: flex;
//   }

//   .text-li {
//       width: 270px;
//   }
//   .li_h3 {
//       font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: var(--text-color);
//   margin-bottom: 10px;
//   }
//   .h3_indent {
//       font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;

//   letter-spacing: 0.03em;

//   color: var(--mail-color);
//   }

//   .work {
//       font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: var(--text-color);
//   margin-bottom: 50px;
//   }

//   .work_photo {
//     display: flex;
//     justify-content: space-between;
// }

//   .client-title {
//       font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: #212121;

//   margin-bottom: 50px;
//   }

//   .client-list {
//       display: flex;
//       justify-content: center;
//       gap: 30px;
//       margin-top: 50px;
//   }

//   .client-item {
//       width: 170px;
//       height: 92px;
//   }

//   .client-link {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 170px;
//       height: 92px;
//       border: 1px solid #AFB1B8;
//       border-radius: 4px;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//        &:hover .client-icon,
//        &:focus .client-icon{
//           fill:#2196F3;
//       }

//        &:hover,
//        &:focus {
//           border-color: #2196F3;
//       }
//   }

//   .client-icon {
//       width: 106px;
//       height: 60px;
//       fill: #AFB1B8;
//       transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   .photo-div-p {
//       position: relative;
//   }
//   .photo-p {
//       position: absolute;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-size: 14px;
//       width: 100%;
//       height: 70px;
//       bottom: 0;
//       background: rgba(47, 48, 58, 0.8);
//       font-weight: 700;
//       line-height: 1.14;
//       text-transform: uppercase;
//       color: var(--whitey-color);
//   }
//   /*
