@media screen and (max-width: 768px) {
    .mobile-menu {
        position: fixed;
    width: 100vw;
    height: 100vh;
    max-height: 796px;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 2px 4px rgb(0 0 0 / 8%), 0px 1px 3px rgb(0 0 0 / 16%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear,visibility 250ms linear;

   }
}

@media screen and (max-width: 767px){
.mobaile-menu_li {
    margin-bottom: 35px;
}

.mobaile-menu_a {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.61;
    letter-spacing: .02em;
    color: #212121;
}

}


