.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   
}

.container {
    padding-left: 15px;
    padding-right: 15px;

}

@media screen and (min-width: 480px){
    conteiner {
        width: 480px;
        margin-left: auto;
        margin-right: auto;

    }
    
}


@media screen and (min-width: 768px){
    conteiner {
        width: 760px;
    }
    
}

@media screen and (min-width: 1200px){
    conteiner {
        width: 1200px;
    }
    
}