:root {
    --font-family-main: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --knob-color: #2196F3;
    --text-color: #212121;;
    --whitey-color: #FFFFFF;
    --mail-color:  #757575; 
}