.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
    
}
.logotipe_div_2 {
    flex-shrink: 0;
}
.logotipe_end {
    display: flex;
    align-items: baseline;
}
.log-item {
    margin-right: 70px;

}
.logo-footer {
    width: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}

.logotipe_blu {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:var(--knob-color);
}
.logotipe_white {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color:rgb(255, 255, 246);
}

.cl1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.adres_footer_cont {
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;

letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.cl21 {
    margin-bottom: 9px;
}
.list_li_footer{
    margin-bottom: 9px;
}
.adres_footer{
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal; 
}

.nomer {
    font-style: normal;
}
.social-network {
    margin-left: 70px;
}
.soc-foot-h3 {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}

.social-list-item {
    height: 44px;
    width: 44px
}
.social-link-footer {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover
 &:focus {
    background-color: var(--accent-color);
}
 &:hover,
 &:focus {
    background-color: #2196F3; 
}
}

.soc-icon-footer {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

.label-span-footer {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;

}

.form-footer  {
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.label-input-footer {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;
color: #F5F4FA;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-left: 16px;

 &:focus {
    outline: none;
    border-color: var(--whitey-color);
}
}




